@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter&family=League+Spartan:wght@400;500&family=Lexend+Deca&family=Montserrat:wght@500&family=Mulish:wght@500&family=Outfit:wght@300&family=Overpass:ital,wght@0,300;1,300&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500&family=Roboto:ital,wght@0,500;1,500&family=Rubik&family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Red Hat Display';
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pattern-background-desktop.png), #E1E9Ff;
    background-repeat: no-repeat, no-repeat;
}   

.container{
    background-color: hsl(225, 100%, 100%);
    margin: min(3%,1rem);
    border-radius: 10px;
    max-width: 320px;
}
img{
    display: block;
    max-width: 100%;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin: 20px;
    font-size: 1rem;
}
p{
    text-align: center;
    margin-left: 50px;
    font-size: 0.8rem;
    color: hsl(224, 23%, 55%);
    width: 70%;
    line-height: 1.1rem;
}
.subscribe{
    margin: 20px;
    padding: 15px;
    display: flex;
    height: 40px;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}
.subscribe h3{
    font-size: 0.8rem;
    font-weight: 100;
    color: hsl(224, 23%, 55%);
}
.subscribe img{
    height: 30px;
}
.dollar{
    font-size: 0.6rem;
}
button{
    position: relative;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 100%);
    height: 33px;
    width: 70%;
    margin-left: 50px;
    font-size: 0.6rem;
    border-radius: 10px;
    border-color: hsl(225, 100%, 94%);
    cursor: pointer;
}
button:hover{
    background-color: hsl(245, 75%, 65%);
}
h4{
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-size: 0.8rem;
    margin: 20px;
    cursor: pointer;
}